<div class="card-body">
  <div class="header">
    <h2>Main Air Compressor #1</h2>
    <img class="img"
      src="https://media.istockphoto.com/id/516326570/photo/heavy-industry-compressor.jpg?s=612x612&w=0&k=20&c=GrDgy00rXDS099rHyHZnx9LI4Ap_53mvGHxtnGNHAl0="
      alt="Air" width="80px" height="100px" />
    <table>
      <tr>
        <td>Make</td>
        <td style="padding-left:50px">Tanabe</td>
      </tr>
      <tr>
        <td>Model</td>
        <td style="padding-left:50px">H-63/H 374</td>
      </tr>
      <tr>
        <td>Type</td>
        <td style="padding-left:50px">Verticle Type, 2-Stage Compressor 1-3-Cylinder</td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td style="padding-left:50px">60-610m/hr</td>
      </tr>
      <tr>
        <td>Power</td>
        <td style="padding-left:50px">15-13 Kw</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td style="padding-left:50px">2.45-2.94 MPa</td>
      </tr>
    </table>
    <canvas style="max-height: 300px; max-width: 600px;" id="myChart"></canvas>

    <h2>Mac Running Hour Comparison</h2>
    <p>
      Running Hrs Comparison is done for last 12 running<br />
      months.Average shown is for last 12 months.Data<br />
      for compressor running hrs is taken from shippalm.
    </p><br><br>
    <p class="border">Mac R/Hrs Comparison</p>
    <p style="padding-left:50px">Change of Compressor</p>
  </div>
</div>
