/* You can add global styles to this file, and also import other style files */
* {
  font-family: "SF Pro Text";
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #1d1d1f;
}
